.booth-category {
    display: flex;
    gap: 12px;
    margin: 20px 0 0 0;
  }
  
  .category-btn {
    padding: 8px 12px;
    color: #bbb;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.2s, color 0.2s;
    border-radius: 17px;
    border: 1px solid var(--Indigo-10, #9DA4FB);
    background: var(--Gray-90, #303036);
  }
  
  .category-btn.active {
    background: #5f5fff;
    color: #fff;
    border-radius: 17px;
    border: 1px solid var(--Indigo-10, #9DA4FB);
    background: var(--Gradient-1, linear-gradient(230deg, var(--Indigo-90, #25283D) 2.04%, var(--Indigo-50, #3B3B98) 61.41%, var(--Indigo-20, #5863F8) 93.76%));
  }
  