.food-layout {
  width: 100%;
  margin-top: 10px;
}

.food-row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 87px;
  padding: 7px 8px;
}

.food-cell {
  position: relative;
  width: 54px;
  height: 48px;
  background: var(--Gray-80, #484851);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.food-cell.selected {
  background: var(
    --Gradient-1,
    linear-gradient(
      230deg,
      var(--Indigo-90, #25283D) 2.04%,
      var(--Indigo-50, #3B3B98) 61.41%,
      var(--Indigo-20, #5863F8) 93.76%
    )
  );
  box-shadow: 0px 0px 4px 0px var(--Indigo-10, #9DA4FB);

}

.food-cell.selected .food-icon,
.food-cell.selected .food-icon path,
.food-cell.selected .food-icon g {
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

.food-icon {
  width: 22px;
  height: 21px;
  fill: var(--Indigo-10, #9DA4FB);
  stroke-width: 1.65px;
  stroke: var(--Indigo-10, #9DA4FB);
  transition: fill 0.2s, stroke 0.2s;
}

.food-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: var(--Lavender-80, #210377);
  font-size: 12px;
  font-weight: 600;
  z-index: 2;
}

.road-bar {
  width: 100%;
  max-width: 367px;
  height: 36px;
  border-radius: 8px;
  background: var(--Gray-50, #93939F);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Gray-0, #FAFAFA);
  font-size: 12px;
  margin: 15px 0;
}

.category-content {
  margin-top: 87px;
  color: var(--Gray-10, #F1F1F3);
  font-size: 14px;
  line-height: 20px;
}

.category-content h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.category-content p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
}

.truck-details {
  margin-top: 8px;
}

.truck-details h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--Gray-0, #FAFAFA);
  margin-bottom: 11px;
}

.truck-details .menu-item {
  margin-top: 12px;
}

.truck-details .menu-index,
.truck-details .menu-name {
  display: inline-block;
  vertical-align: middle;
}

.truck-details .menu-index {
  margin-right: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--Gray-0, #FAFAFA);
}

.truck-details .menu-name {
  font-size: 14px;
  color: var(--Gray-0, #FAFAFA);
}

.truck-details .menu-price {
  display: block;
  margin-left: 16px;
  margin-top: 4px;
  font-size: 12px;
  color: var(--Indigo-10, #9DA4FB);
}
