.location-info-bar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 8px;
}

.place-name {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Gray-10, #F1F1F3);
  font-size: 14px;
  font-weight: 500;
}

.view-map-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 8px;
  border: 1px solid var(--Gray-70, #60606C);
  background: var(--Gray-80, #484851);
  border-radius: 14px;
  cursor: pointer;
  color: var(--Indigo-0, #CED1FD);
  transition: background 0.2s, color 0.2s;
}
.view-map-btn:hover {
  background: #5f5fff;
  color: #fff;
}

.map-container {
  position: absolute;    
  top: 135px;           
  left: 16px;          
  right: 16px;
  z-index: 20;        
}

.map-place-label {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;

  background: var(--Gray-0, #FAFAFA);
  border-radius: 14px;

  color: var(--Gray-80, #484851);
  font-size: 12px;
  font-weight: 500;
}

.close-on-image {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;

  width: 32px;
  height: 32px;
  padding: 4px;
  border: none;
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: rgba(250, 250, 250, 0.8);
}

.map-image {
  width: 100%;
  border-radius: 16px;
}

.map-highlight {
  position: absolute;
  pointer-events: none;
  border-radius: 4px;
  border: 2px solid var(--Indigo-10, #9DA4FB);
  background: rgba(88, 99, 248, 0.3);
}
