/* 모달 오버레이 */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 성능 최적화를 위한 CSS */
  will-change: opacity;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* 모달 내용 */
.modal-content {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 85%;
  max-width: 323px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: white;
  /* 성능 최적화를 위한 CSS */
  will-change: transform;
  transform: translateZ(0);
}

/* 모달 타이틀 */
.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #303036;
  font-weight: 600;
}

.modal-title-emoji {
  font-size: 28px;
  margin: 0 8px;
}

/* 모달 메시지 */
.modal-message {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #484851;
  font-weight: 400;
}

/* 모달 버튼 공통 스타일 */
.modal-button-success,
.modal-button-fail {
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #F1F1F3;
  transition: transform 0.2s;
}

.modal-button-success:hover,
.modal-button-fail:hover {
  transform: translateY(-2px);
}

.modal-button-success:active,
.modal-button-fail:active {
  transform: translateY(1px);
}